.modal-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.edit-modal{
    width: 30%;
    padding: 1.8rem 0;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.edit-modal-button-container{
    display: flex;
    gap: 1rem;
}